#sidebar {
    border-right: 1px lightblue solid;
}

#btnbar {
    padding-left:25px;
    padding-bottom:35px;
}

#displayDiv {
    min-height: 100vh;
}

#parentRow {
    margin-top: 25px;
    margin-bottom:25px;
    border-bottom: 1px lightblue solid;

}

.btn-primary {
    margin:5px;
}

.image-bucket {
    padding-bottom: 20px;
    width:50%;
    display: inline-block;
}